# ===== Node.js =====
**/node_modules/
**/package-lock.json

# ===== .NET / C# Build Artifacts =====
[Bb]in/
[Oo]bj/
*.user
*.suo
.vs/
*.dll
*.exe
*.pdb

# ===== Logs =====
*.log

# ===== OS =====
.DS_Store
Thumbs.db

# ===== VS Code =====
.vscode/
App_Data/
*.db